{% extends 'base.html' %}
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'glavna/index.css' %}">
  <link rel="stylesheet" href="{% static '/base.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
  <link rel="shortcut icon" href="{% static 'glavna/favicon.ico' %}" type="image/x-icon">
{% endblock css_files %}
{% block title %}
  Početna
{% endblock title %}
{% block content %}
    <div class="welcome">
      <model-viewer class="tride" src="{% static 'glavna/modeli/gato.glb' %}" rotation-per-second="30deg" auto-rotate shadow-intensity="1"></model-viewer>
      <h1>WELCOME TO GLOWY</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="featured">
      <br>
      <h1>FEATURED</h1>
      <br>
      {% for video in videos %}
        {% include 'glavna/includes/videos.html' %}
      {% endfor %}
      <br>
    </div>
{% endblock content %}