{% extends 'base.html' %}
{% load static %}
{% block title %}{{video.title}}{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'glavna/videostranica.css' %}">
    <link rel="stylesheet" href="{% static '/base.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
    <link rel="shortcut icon" href="{% static 'glavna/favicon.ico' %}" type="image/x-icon">
{% endblock css_files %}
{% block content %}
    <div class="podloga">
        <div class="prvi">
            <video src="{{ video.video.url }}" type="video/mp4" controls preload autoplay></video>
            <div class="ispodvidea">
                <p class="ime">{{ video.title }}</p>
                <p class="kategorija">{{video.category}}</p>
                <p class="author"><img src="{{ video.user.profil.image.url}}"></img> {{ video.user }}</p>
                <p class="opis">{{video.description}}<p>
                <div class="game">
                    <p class="Title">{{ video.game.name}}</p>
                    <img class="cover" src="{{ video.game.cover_url.url}}" alt="">
                    <p class="dev"> {{video.game.studio}}</p>
                    <div class="summary">{{video.game.summary}}
                        <p class="ganre">{{video.game.genre}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="drugi">
            <div class="forma">
                <form class="" action="{% url "video" video.slug %}" method="POST">
                    {% csrf_token %}
                    {% for form_field in review_form %}
                        {{form_field.label_tag}}
                        {{form_field}}
                    {% endfor %}
                    <div class="button-okvir">
                    <button class="reviewbutton">Post</button>
                    </div>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
            <div>
                {% for review in reviews %}
                        <li class ="review">
                            {% if review.like %}
                            <h2 class="svida">{{review.user_name}} gave a positive response!</h2>
                            {% else %}
                            <h2 class="nesvida">{{review.user_name}} gave a negative response!</h2>
                            {% endif %}
                            <p>{{ review.text|linebreaks }}</p>
                            <p>{{ review.date }}</p>
                        </li>
                {% endfor %}
                </div>
        </div>
      </div>
{% endblock content %}