{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css_files %}
        <link rel="stylesheet" href="{% static '/base.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    {% endblock css_files %}
</head>
<body>
    <nav class="navbar">
        <a href="{% url "home" %}"><h1 class="logo">Glowy</h1></a>
        <ul class="nav-links">
          <li><a href="{% url "home" %}"><span class="material-symbols-outlined">home</span></a></li>
          <li>
            {% if user.is_authenticated %}
              <a href="#"><span class="material-symbols-outlined">video_call</span></a>            
            {% else %}
              <a href="{% url "login" %}"><span class="material-symbols-outlined"> video_call </span></a>
            {% endif %}
            </li>
        <li>
          {% if user.is_authenticated %}
            <a href="{% url "logout" %}"><span class="material-symbols-outlined"> logout </span></a>
          {% else %}
            <a href="{% url "login" %}"><span class="material-symbols-outlined"> person </span></a>
          {% endif %}
        </li>
        </ul>
      </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>